@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.statistics {
  flex-grow: 1;
  background-color: $color-green-light;
  padding: 0 10px ;

  & .container {
    @include pageContainer();
    //@include pageContainerMedia();
  }

  & h1 {
    @include pageTitles();
  }

  & span.page-list-item {
    color: black;
    font-weight: normal;
  }

  & .page-list {
    & .timer span {
      font-weight: normal;
    }
  }
}



