@mixin fontSettings($font-size, $font-weight) {
  font-family: 'Cutive Mono', monospace;
  font-style: normal;
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin pageTitles() {
  @include fontSettings(32px, bold);
  color: $color-green;
  margin: 0 auto;
}

@mixin pageListItem() {
  color: $color-red;
  font-weight: bold;
}

@mixin buttons($back-color, $font-color) {
  border: none;
  border-radius: 20px;
  background-color: $back-color;
  color: $font-color;
  @include fontSettings(20px, bold);
  font-weight: bold;
  cursor: pointer;
  padding: 3px 10px;
  margin-bottom: 5px;

  @media (max-width: 500px) {
    @include fontSettings(16px, bold);
    padding: 2px 8px;
  }

  &:hover {
    color: $back-color;
    background-color: $font-color;
  }
}

@mixin pageContainer() {
  width: 480px;
  padding: 10px;
  background-color: $color-white;
  border-radius: 20px;
  position: absolute;
  left:0;
  right:0;
  margin: 0 auto;
  top: 50%;
  transform:translate(0, -50%);
}

@mixin contentComponent() {
  width: 480px;
  margin: 0 auto;
  padding: 5px 0;
  background-color: $color-white;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
