@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.hot-keys {
  flex-grow: 1;
  background-color: $color-green-light;
  padding: 10px 0;

  & .container {
    @include pageContainer();
    @include pageContainerMedia();
  }

  & h1{
    @include pageTitles();
  }
}

.page-list-item {
  @include pageListItem();
}
