@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.toolbar {
  @include contentComponent();
  margin-bottom: 20px;
  @include pageContainerMedia();
}

.toolbar-btn {
  display: flex;
  flex-direction: column;

  & button {
    @include buttons($color-red, $color-black);
  }
}

.toolbar-info {
  width: 100px;
  display: flex;
  flex-direction: column;
  text-align: right;

  & span {
     @include fontSettings(16px, bold)
  }

  & .level {
    color: $color-red;
  }
}
