@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.memory-game {
  @include contentComponent();
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
