@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.content {
  flex-grow: 1;
  background-color: $color-green-light;
  padding: 10px 0;

  & .container {
    padding: 0 10px;
    margin: 0 auto;
  }
}

.content_pics {
  @include contentComponent();
  border-radius: 0;

  & button {
    @include buttons($color-grey, $color-yellow)
  }

  & button.pics_active {
    @include buttons($color-yellow, $color-grey)
  }
}


