@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.content {
  flex-grow: 1;
  background-color: $color-green-light;
  padding: 10px 0;

  & .container {
    padding: 0 10px;
    margin: 0 auto;
  }
}
