@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.footer {
  background-color: $color-grey-light;
  padding: 10px 0;

  & .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    & img {
      width: 80px;
    }

    & button {
      @include buttons($color-grey, $color-beige)
    }

    & ul li a {
      text-decoration: none;
      color: $color-black;

      svg path {
        fill: $color-black;
      }

      svg {
        margin-left: 5px;
      }

      &:hover {
        color: $color-beige;

        svg path {
          fill: $color-beige;
        }
      }
    }

  }
}
