@import "./assets/scss/reset";
@import "./assets/scss/variables";
@import "./assets/scss/mixins";

body {
  font-family: 'Cutive Mono', monospace;
}

* {
  transition: 0.3s ease-in;
}

.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}
