@import "./assets/scss/reset";
@import "./assets/scss/variables";
@import "./assets/scss/mixins";

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Cutive Mono', monospace;
}

* {
  transition: 0.3s ease-in;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.game-rules {
  display: flex;
  flex-direction: column;
  text-align: left;

  & h1 {
    @include pageTitles();
  }

  & strong {
    @include fontSettings(16px, bold);
    margin-bottom: 10px;
  }

  & p:first-of-type {
    margin-bottom: 20px;
  }

  & button {
    @include buttons($color-red, $color-black);
    width: 120px;
  }
}

.page-list {
  & li {
    margin: 0 0 8px 20px;
    text-align: left;
  }
}
